.profile-avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.contact-name {
  font-size: 17px;
}

.last-message {
  font-size: 14px;
}

.timestamp {
  font-size: 12px;
  color: var(--timestamp);
}

.down-arrow {
  width: 20px;
  height: 20px;
  display: none;
}

.chat-item-container {

}

.chat-item {
  border-bottom: 1px solid var(--border-list);
}

.chat-item:hover {
  background-color: var(--background-default-hover);
  cursor: pointer;

  .down-arrow {
    display: unset;
    cursor: pointer;
  }
}

img {
  fill: grey
}


.search-container {
  height: 49px;
  background-color: var(--background-white);
  padding: 0 12px;
  border-bottom: 1px solid var(--border-bottom);
  display: flex;
  align-items: center;
}

input,
input:focus {
  height: 35px;
  background-color: var(--search-input-background);
  border-radius: 8px;
  border: unset;
  font-size: 15px;
}

.input-group-text {
  background-color: var(--search-input-background);
  border: unset;
}
