.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header-icons {
  width: 24px;
  height: 24px;
  margin: 8px;
  cursor: pointer;
}

header {
  background-color: var(--panel-header-background);
  height: 59px;
  align-items: center;
}

.search-container {
  height: 49px;
  background-color: var(--background-white);
  padding: 0 12px;
  border-bottom: 1px solid var(--border-bottom);
  display: flex;
  align-items: center;
}

input,
input:focus {
  height: 35px;
  background-color: var(--search-input-background);
  border-radius: 8px;
  border: unset;
  font-size: 15px;
}

.input-group-text {
  background-color: var(--search-input-background);
  border: unset;
}
