.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  transition: opacity .15s ease-out;
}

.header-icons {
  width: 24px;
  height: 24px;
  margin: 8px;
  cursor: pointer;
}

header {
  background-color: var(--panel-header-background);
  height: 59px;
  align-items: center;
}

.dropdown-item {
  padding-right: 58px;
  padding-left: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14.5px;
}

.dropdown-menu {
  border-radius: 3px;
  padding: 9px 0;
  box-shadow: 0 2px 5px 0 rgba(11,20,26,.26),0 2px 10px 0 rgba(11,20,26,.16);
}

