<div ngbDropdown placement="bottom-right">
  <header class="w-100 px-3 py-2 d-flex justify-content-between">
    <img
      class="profile-avatar"
      [src]="
        profileData?.profile_image
          ? profileData?.profile_image
          : '/assets/drawables/default-avatar.svg'
      "
      alt="avatar"
      (click)="openEditProfile()"
    />
    <div class="d-flex" style="align-self: center; gap: 15px">
      <img
        class="header-icons"
        src="assets/drawables/status-icon.svg"
        alt="status-icon"
      />
      <img
        class="header-icons"
        src="assets/drawables/new-chat-icon.svg"
        alt="status-icon"
        (click)="openNewChat()"
      />
      <img
        class="header-icons dropdown-toggle"
        src="assets/drawables/menu-icon.svg"
        alt="status-icon"
        id="dropdownBasic2"
        ngbDropdownToggle
      />
    </div>
  </header>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu">
    <button ngbDropdownItem class="dropdown-item">Settings</button>
    <button ngbDropdownItem (click)="logout()">Logout</button>
  </div>
</div>
