<div class="root">
  <div class="header-container d-flex flex-column">
    <div class="header-label d-flex">
      <div class="header-img">
        <img
          src="../../assets/drawables/whatsapp-logo.svg"
          alt="whatsapp-logo"
        />
      </div>
      <div class="header-text">WhatsApp Web</div>
    </div>
    <div class="center-container">
      <div class="center-container-header">
        {{
          isSignUp
            ? "Sign up to use WhatsApp on your computer"
            : "Login to use WhatsApp on your computer"
        }}
      </div>
      <form [formGroup]="form">
        <div class="input-group" *ngIf="isSignUp">
          <input
            type="text"
            [formControlName]="formControlConst.DISPLAYNAME"
            class="form-control"
            placeholder="Name"
          />
        </div>
        <div class="form-error-text" *ngIf="isSignUp && !form.controls[formControlConst.DISPLAYNAME].valid && (form.controls[formControlConst.DISPLAYNAME].dirty || form.controls[formControlConst.DISPLAYNAME].touched)">
          {{ showFormError(formControlConst.DISPLAYNAME) }}
        </div>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            [formControlName]="formControlConst.PHONENUMBER"
            placeholder="Phone number"
          />
          <button type="button" class="btn login-btn" (click)="login()">
            {{ isSignUp ? "Sign up" : "Login" }}
          </button>
        </div>
        <div class="form-error-text" *ngIf="!form.controls[formControlConst.PHONENUMBER].valid && (form.controls[formControlConst.PHONENUMBER].dirty || form.controls[formControlConst.PHONENUMBER].touched)">
          {{ showFormError(formControlConst.PHONENUMBER) }}
        </div>
      </form>
      <div class="sign-up-text" (click)="toggleSignUp()">
        {{
          isSignUp
            ? "Already have an account? Login"
            : "New to WhatsApp? Sign up"
        }}
      </div>
    </div>
  </div>
</div>
