<div class="w-100 h-100 chat-background-color">
  <header class="d-flex">
    <img
      class="avatar"
      [src]="conversation?.displayProfileImage"
      alt="avatar"
    />
    <div class="d-flex flex-column w-100">
      <div>{{conversation?.displayName ? conversation?.displayName : conversation?.number}}</div>
      <div class="lastseen">Online</div>
    </div>
    <div class="chat-header-icons d-flex">
      <img src="assets/drawables/search-icon.svg" alt="search" />
      <img src="assets/drawables/menu-icon.svg" alt="search" />
    </div>
  </header>
  <div>
    <emoji-mart (emojiSelect)="addEmoji($event)" [darkMode]="false" [showPreview]="false" [style]="{ width:'75%', position: 'absolute', bottom: '63px', right: '0px' }" title="Pick your emoji…" [emojiTooltip]="true" *ngIf="showEmojiPicker"></emoji-mart>
  </div>
  <footer class="col-9 d-flex">
    <div class="d-flex">
      <img src="assets/drawables/emoji-icon.svg" alt="emoji-icon" (click)="toggleEmojiPicker()">
      <img src="assets/drawables/attachment-icon.svg" alt="emoji-icon">
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search or start new chat"
      />
    </div>
  </footer>
</div>
