<div
  class="w-100 h-100 chat-background-color"
  *ngIf="conversation$ | async as conversation"
>
  <header class="d-flex">
    <img
      class="avatar"
      [src]="
        conversation?.profile_image
          ? conversation?.profile_image
          : '/assets/drawables/default-avatar.svg'
      "
      alt="avatar"
    />
    <div class="d-flex flex-column w-100">
      <div>
        {{
          conversation?.display_name
            ? conversation?.display_name
            : conversation?.phone_number
        }}
      </div>
      <div class="lastseen">Online</div>
    </div>
    <div class="d-flex">
      <div class="chat-header-icons">
        <img
          class="search-icon"
          src="assets/drawables/search-icon.svg"
          alt="search"
        />
      </div>
      <div class="chat-header-icons" ngbDropdown placement="bottom-right">
        <img
          class="menu-icon"
          src="assets/drawables/menu-icon.svg"
          alt="search"
          id="chatDropdown"
          ngbDropdownToggle
        />
        <div ngbDropdownMenu aria-labelledby="chatDropdown" class="dropdown-menu">
          <button ngbDropdownItem class="dropdown-item" (click)="deleteChat(conversation)">Delete Chat</button>
        </div>
      </div>

    </div>
  </header>
  <div>
    <emoji-mart
      color="#008069"
      [emojiSize]="32"
      (emojiSelect)="addEmoji($event)"
      [darkMode]="false"
      [showPreview]="false"
      [style]="{
        width: '75%',
        position: 'absolute',
        bottom: '59px',
        right: '0px'
      }"
      title="Pick your emoji…"
      [emojiTooltip]="true"
      *ngIf="showEmojiPicker"
    ></emoji-mart>
  </div>
  <form [formGroup]="form">
    <footer class="col-9 d-flex">
      <div class="d-flex">
        <img
          src="assets/drawables/emoji-icon.svg"
          alt="emoji-icon"
          (click)="toggleEmojiPicker()"
        />
        <img src="assets/drawables/attachment-icon.svg" alt="emoji-icon" />
      </div>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Type a message"
          autofocus
          [formControlName]="formControlConst.SEND_MESSAGE"
          (input)="onSearchChange($event)"
        />
      </div>
      <div *ngIf="showSendArrow" (click)="sendMessage(conversation)">
        <img src="../../../assets/drawables/send-icon.svg" alt="send-icon" />
      </div>
    </footer>
  </form>
</div>
