.default-container {
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: default;
  background-color: var(--intro-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.default-container img {
  width: 360px;
  height: 204px;
}

h1 {
  margin-top: 32px;
  display: inline-flex;
  font-size: 32px;
  font-weight: 300;
  line-height: 37.5px;
  color: var(--primary-title);
}

.default-text-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--intro-secondary);
  margin-top: 16px;
}

.end-to-end-text {
  position: absolute;
  bottom: 30px;
  color: var(--secondary-lighter);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.end-to-end-text img {
  width: 10px;
  height: 12px;
}

.chat-background-color {
  background-color: var(--conversation-panel-background);
  background-image: url("../../../assets/drawables/chat-bg.png");
}

header {
  border-left: 1px solid var(--conversation-header-border);
  padding: 10px 16px;
  background-color: var(--panel-header-background);
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 59px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.lastseen {
  color: #667781;
  font-size: 13px;
}

.search-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.menu-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 7px;
}

footer {
  border-left: 1px solid var(--conversation-header-border);
  padding: 10px 16px;
  background-color: var(--panel-header-background);
  height: 59px;
  position: absolute;
  bottom: 0;
}

footer img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 8px;
}

input,
input:focus {
  height: 39px;
  background-color: white;
  border-radius: 8px;
  border: unset;
  font-size: 15px;
}

.input-group-text {
  background-color: var(--search-input-background);
  border: unset;
}
