<div class="col-3 edit-profile-container">
  <div class="header">
    <div class="header-content slide-in d-flex align-items-center">
      <img
        class="back-arrow-icon"
        src="assets/drawables/back-arrow-icon.svg"
        alt="back-arrow-icon"
        skipLocationChange
        (click)="back()"
      />
      <div class="header-text noselect">Profile</div>
    </div>
  </div>
  <div class="profile-avatar">
    <img
      class="profile-avatar-img"
      [src]="
        editProfile?.data?.profile_image ? editProfile?.data?.profile_image : '/assets/drawables/default-avatar.svg'
      "
      alt="profile-avatar-img"
    />
    <input
      #file
      name="image"
      type="file"
      style="display: none"
      accept="image/png,image/x-png,image/jpeg"
      (change)="onFileSelect($event)"
    />
    <div class="change-profile" (click)="file.click()">
      <img src="assets/drawables/camera-icon.svg" alt="camera-icon" />
      <div class="change-profile-text">CHANGE PROFILE PICTURE</div>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="name-container">
      <div class="name-label">Your name</div>
      <div class="d-flex">
        <div class="name-text w-100" *ngIf="!isEditMode">
          {{ editProfile?.data ? form.controls[formControlName.PROFILE_NAME].value : '' }}
        </div>
        <input
          class="edit-name w-100"
          [value]="editProfile?.data?.display_name"
          [formControlName]="formControlName.PROFILE_NAME"
          type="text"
          *ngIf="isEditMode"
        />
        <img
          class="edit-tick-icon"
          [src]="
            isEditMode
              ? 'assets/drawables/tick-icon.svg'
              : 'assets/drawables/edit-icon.svg'
          "
          alt="edit-icon"
          (click)="editToggle()"
        />
      </div>
    </div>
    <div class="username-help-text">
      This is not your username or pin. This name will be visible to your
      WhatsApp contacts.
    </div>
    <div class="name-container">
      <div class="name-label">About</div>
      <div class="d-flex">
        <div class="name-text w-100" *ngIf="!isEditBio">
          {{ editProfile?.data ? form.controls[formControlName.PROFILE_BIO].value : '' }}
        </div>
        <input
          class="edit-name w-100"
          type="text"
          [value]="editProfile?.data?.bio"
          [formControlName]="formControlName.PROFILE_BIO"
          *ngIf="isEditBio"
        />
        <img
          class="edit-tick-icon"
          [src]="
            isEditBio
              ? 'assets/drawables/tick-icon.svg'
              : 'assets/drawables/edit-icon.svg'
          "
          alt="edit-icon"
          (click)="editBio()"
        />
      </div>
    </div>
  </form>
</div>
