<div class="col-3 edit-profile-container">
  <div class="header">
    <div class="header-content d-flex align-items-center">
      <img
        class="back-arrow-icon"
        src="assets/drawables/back-arrow-icon.svg"
        alt="back-arrow-icon"
        routerLink="../"
      />
      <div class="header-text noselect">Profile</div>
    </div>
  </div>
  <div class="profile-avatar">
    <img
      class="profile-avatar-img"
      src="https://pps.whatsapp.net/v/t61.24694-24/295202271_781116623092729_4957902355408740932_n.jpg?ccb=11-4&oh=01_AdQvb1ll57s_iL_2ZBeOz4QaFAoBdCjXHCy2gnBpCR4_Nw&oe=63692FE1"
      alt="profile-avatar-img"
    />
    <div class="change-profile"><img src="assets/drawables/camera-icon.svg" alt="camera-icon">
    <div class="change-profile-text">CHANGE PROFILE PICTURE</div>
    </div>
  </div>

  <div class="name-container">
    <div class="name-label">Your name</div>
    <div class="name-text">
      Rajakumar
      <img src="assets/drawables/edit-icon.svg" alt="edit-icon" />
    </div>
  </div>
  <div class="username-help-text">
    This is not your username or pin. This name will be visible to your WhatsApp
    contacts.
  </div>
  <div class="name-container">
    <div class="name-label">About</div>
    <div class="name-text">
      Hey there! I am using WhatsApp.
      <img src="assets/drawables/edit-icon.svg" alt="edit-icon" />
    </div>
  </div>
</div>
